/*
// @media(max-width:767px){}
// @media(min-width:768px){}
// @media(min-width:992px){}
// @media(min-width:1200px){}
*/

body {
  background-color: #f9f9f9;
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.95rem;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  color: #222;
}
h2, h2 a { /* Post titles */
  color: #222;
  margin-top: 0px;
  font-size: 2.4rem;
  line-height: 3rem;
  text-decoration: none;
  font-weight: normal;
}

h3, h3 a { /* Book titles, article subheadings */
  color: #222;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: normal;
  text-decoration: none;
  margin-bottom: 0.4rem;
}

img {
  box-shadow: 0px 0px 50px #cbcdcd;
  border-radius: 3px;
}
.clear, br {
  clear: both;
}

.blockquote {
  border-left: 4px solid #F66;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 15px;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 2.2rem;

  > :last-child {
      margin-bottom: 0;
  }
}

hr {
  border: 0;
  height: 0;
  margin: 50px 100px 50px 100px;
  border-top: 3px solid #e7e7e7;
}










header {
  width: 100%;
  text-align: center;
  height: 100px;
  background-color: #F66; /*# #F4F4F4*/
}
header a {
  color: #222;
  text-decoration: none;
}
header h2 {
  line-height: 100px;
  font-size: 32px;
  font-weight: 700;
}
header .pages a{
  float: right;
}
header .pages a h4 {
  margin: 0;
  line-height: 100px;
  margin-left: 25px;
  font-weight: 300;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px;
}

.container {
  margin: 60px 80px 60px 80px;
}

.content {
  margin: 0 auto;
  max-width: 720px;
}

.content.content-wide {
  max-width: 900px;
}
@media(max-width:767px){
  .container {
    margin: 30px 20px 30px 20px;
  }
}
.clear {
  clear: both;
}

/*img {
  width: 154px;
  margin-right: 20px;
  height: 211px;
  margin-bottom: 20px;
}*/


/* HOMEPAGE */
.hero .left {
  width: 45%;
  margin-right: 5%;
  float: left;
}
.hero .right {
  width: 50%;
  float: left;
}
@media(max-width:767px){
  .hero .left, .hero .right {
    width: 100%;
  }
}

p.lead {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.post.post-preview {
  width: 30%;
  float: left;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
}
.post.post-preview + .post.post-preview {
  margin-left: 5%;
}
.post.post-preview h3 {
  margin-top: -0.5rem;
  border-bottom: none;
}
@media(max-width:767px){
  .post.post-preview {
    width: 100%;
  }
  .post.post-preview + .post.post-preview {
    margin-left: 0;
  }
}



.book.book-preview {
  display: block;
  float: left;
  width: 16%;
  margin-bottom: 0;
}
.book.book-preview img {
  margin-top: 0;
}
.book.book-preview + .book.book-preview {
  margin-left: 5%;
}
.book.book-preview img {
  width: 100%;
}
@media(max-width:767px){
  .book.book-preview {
    width: 30%;
  }
  .book.book-preview img {
    margin-left: 0;
    margin-right: 0;
  }
}
a.profile {
  margin-right: 1rem;
}








.book {
  margin-bottom: 60px;
}
.book img {
  width: 25%;
  margin-right: 5%;
  margin-bottom: 20px;
  margin-top: 2rem;
  float: left;
  height: auto;
}
@media(max-width:767px){
  .book img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
.book .summary {
  width: 70%;
  float: left;
}
@media(max-width:767px){
  .book .summary {
    width: 100%;
    float: left;
  }
}
p.author {
  margin-top: 0rem;
}




.post {
  margin-bottom: 150px;
}
.post-meta {
  color: #777;
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-family: 'Roboto Slab', serif;
}
p.years {
  margin-bottom: -1rem;
}

.post img {
  width: auto;
  margin: 0;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.post blockquote p, .post p.caption {
  margin-left: -40px;
  margin-top: -20px;
  font-size: 15px;
  color: #999;
  font-weight: normal;
}










pre {
  margin: 30px 0px 30px 0px;
  padding: 20px;
  background-color: #F4F4F4;
  overflow: scroll;
}

p a, .pagination a, footer a, li a, .blockquote a {
  color: #444;
  text-decoration: none;
  border-bottom: 3px solid #e7e7e7;
}
p a:hover, .pagination a:hover, footer a:hover, li a:hover, .blockquote a:hover {
  border-bottom: 3px solid #F66; /*#009F50;*/
}








.pagination {
  margin-bottom: 100px;
}

.pagination a {
  font-size: 20px;
  font-weight: bold;
}
.pagination .older {
  float: right;
}
.pagination .newer {
  float: left;
}









.column-sixth {
  width: 16.66%;
  float: left;
}

.column-third {
  width: 33.33%;
  float: left;
}

.dots {
  margin-left: 10px;
  margin-right: 10px;
}

.column-sixth .dots {
  min-height: 120px;
}

.dots span {
  float: left;
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 5px;
}

.dots span.gold {
  background-color: #F66;
}

.column-sixth p, .column-third p {
  margin: 15px;
  clear: both;
  font-size: 16px;
  font-weight: bold;
}
.column-third p.caption {
  font-weight: normal;
}
